.square {
    background: lightblue;
    margin: 8px;
    width: 40px;
    height: 40px;
}

.rec {
    max-width: fit-content;
    max-height: fit-content;
    border: 2px solid lightblue;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

#low {
    background: lightsalmon;
}

#ls {
    background: purple;
}